@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;700;900&display=swap");

@font-face {
	font-family: "HallymGothic-Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "LeferiBaseType-RegularA";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
	font-family: "LeferiBaseType-RegularA";
}
